<li class="list">
    <div class="task">
        <p class="output">{{text}}</p>
        <div class="button__block">
            <button class="done">Done</button>
            <button class="delete">Delete</button>
        </div>
    </div>
</li>